<div class="intern-list">
  {% assign interns_size = site.intern | size %}
  {% if site.interns and site.interns.limit %}
    {% assign interns_limit = site.interns.limit %}
  {% else %}
    {% assign interns_limit = interns_size %}
  {% endif %}

  <div
    class="table-responsive"
    {% if site.interns and site.interns.scrollable and interns_size > 3 %}
      style="max-height: 60vw"
    {% endif %}
  >
    <table class="table table-sm table-borderless">
      {% for item in site.intern limit: interns_limit %}
        <tr>
          <!-- 时间段 -->
          <th scope="row" style="width: 25%">
            {{ item.start_date | date: '%b %d, %Y' }}
            -
            {{ item.end_date | date: '%b %d, %Y' }}
          </th>
          <td>
            <!-- 标题链接到该实习详情页 -->
            <a class="intern-title" href="{{ item.url | relative_url }}">
              {{ item.title }}
            </a><br>

            <!-- 实验室 -->
            {% if item.lab_link %}
              <a href="{{ item.lab_link }}" target="_blank" rel="noopener">
                {{ item.lab_name }}
              </a>
            {% else %}
              {{ item.lab_name }}
            {% endif %}
            , supervised by

            <!-- 导师 -->
            {% if item.supervisor_link %}
              <a href="{{ item.supervisor_link }}" target="_blank" rel="noopener">
                {{ item.supervisor_name }}
              </a>
            {% else %}
              {{ item.supervisor_name }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
