---
layout: default
---
<div class="intern">
  <header class="intern-header">
    <h1 class="intern-title">{{ page.title }}</h1>
    <p class="intern-meta">
      Start: {{ page.start_date | date: '%Y-%m-%d' }}<br>
      End: {{ page.end_date | date: '%Y-%m-%d' }}<br>

      <!-- 实验室链接 -->
      {% if page.lab_link %}
        <a href="{{ page.lab_link }}" target="_blank" rel="noopener">
          {{ page.lab_name }}
        </a>
      {% else %}
        {{ page.lab_name }}
      {% endif %}

      , advisor:

      <!-- 导师链接 -->
      {% if page.supervisor_link %}
        <a href="{{ page.supervisor_link }}" target="_blank" rel="noopener">
          {{ page.supervisor_name }}
        </a>
      {% else %}
        {{ page.supervisor_name }}
      {% endif %}
      <br>
    </p>
  </header>

  <article class="intern-content">
    <div id="markdown-content">
      {{ content }}
    </div>
  </article>
</div>
